/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
/* BODY */

body {
    margin-left: 50px; 
    margin-right: 50px;
}

/* GENERAL */

h1 {
    font-weight: 700;
}

/* HEADER */

#logo {
width: 61.09px;
height: 19px;
margin-top: 44px;
}
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
}
nav li {
    margin-top: 0px;
    padding-top: 46px;
    padding-left: 33px;
    padding-right: 33px;
    border-top: 2px solid transparent;

}
nav ul li:hover {  
    border-top: 2px solid #0065FC;
    font-weight: 500; 
    
}
nav ul li a {
    text-decoration: none;
    color: black;

}
nav ul li a:hover {
    color: #0065FC;
}

/*  SEARCH BAR SECTION */

.h1_search_bar {
    margin-top: 63px;
    margin-bottom: 8px;
}
.p_search_bar {
    margin-top: 0;
    
}
.search_bar {
    display: flex;
}
#location_icon {
    height: 49px;
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
}
#search_input {
    height: 49px;
    width: 250px;
    border: none;
    display: flex;
    margin-left: 16px;
    font-size: 18px;
    outline-width: 0;
    opacity: 1;
    
}
#button {
    background-color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
::placeholder {
    color: black;
    font-weight: 700;
}
#border-bar {
    border: 1px solid #F2F2F2;
}
.search_bar_mobile {
    display: flex;
    display: none;
}

/* FILTERS */

.filters {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    width: 60%;
    
}
.filters-icon{
    color: #0065FC;
    padding-right: 10px;
}
section.filters div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
}
#h2-filters {
    font-size: 18px;
}
section.filters div p {
    font-size: 17px;
    
}
.border-filters {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
}
.border-filters:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}
div.dog {
    min-width: 200px;
}
/* INFO */
.fa-info {
    height: 10px;
    width: 4px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 7px 10px;

}
.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
div.info p {
    margin-left: 11px;
}
/* MAIN Hébergement */
.main-block {
    display: flex;
    justify-content: space-around;
    margin-top: 39px;

}
main h2 {
    font-size: 22px;
    width: 100%;
    height: 10px;
    margin-top: 0px;
}
img.img-hébergement {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}
article.card {
    background-color: white;
    border-radius: 20px;
    height: 199px;
    width: 29%;
    padding: 5px;
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;

}
.nom-hébergement {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 16px;
}
.prix-nuit {
    font-size: 14px;
    margin-top: 9px;
    margin-left: 16px;
    margin-bottom: 9px;
}
.hébergement {
 background-color: #F2F2F2;
 border-radius: 20px;
 flex: 2;
 padding-left: 40px;
 padding-right: 40px;
 padding-top: 40px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
#afficher-plus {
    font-weight: 700;
    font-size: 18px;
    height: 21px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 100%;
}
.star-grey {
    color: #F2F2F2;
}
.star-blue {
    color: #0065FC;
}
.star-size {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 9px;
}
p.prix-nuit span {
    font-weight: bold;
}

/* Populaire */

.populaire {
    flex: 1;
    height: 626px;
    background-color: #F2F2F2;
    margin-left: 20px;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}
.fa-chart-line {
    color: #0065FC;
    font-size: 18px;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
article.card-populaire {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-top: 33px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 144px;
    cursor: pointer;
}
img.img-populaire {
    object-fit: cover;
    padding: 1%;
    border-radius: 20px 0px 0px 20px;
    width: 30%;
}
div.div-populaire {
    margin-top: 16px;
}
.hotel-bleu-blanc-star {
    margin-top: 59px;
}
.chambres-dhotes-star {
    margin-top: 41px;
}
.hotel-le-soleil-star {
    margin-top: 40px;
}


/* Activité à Marseille */

h1.activité-marseille {
    margin-top: 60px;
}
div.activity-content {
    height: 445px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img.img-activity {
    object-fit: cover;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
div.card-activity {
    width: 21%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}
.nom-activity {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 19px;
}
    /* FOOTER */
footer {
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}
.column-footer {
    margin-top: 45px;
    margin-left: 70px;
    

}
h4 {
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 20px;
}
footer p {
    margin-top: 0px;
    margin-bottom: 12px;
}
    /* MEDIA QUERY */

@media screen and (max-width: 1250px) {
    article.card {
        height: 230px;
    }
}

@media screen and (max-width: 1069px) {
    .chambres-dhotes-star {
        margin-top: 24px;
    }
}
@media screen and (max-width: 1003px) {
    .hotel-bleu-blanc-star {
        margin-top: 39px;
    }
}


    /* TABLETTE */

@media screen and (max-width: 992px) {  
    
    /* HEBERGEMENT */

     .main-block { 
        flex-direction: column;
    }
    article.card {
        margin-top: 30px;
        height: 199px;
    }
    #afficher-plus {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* POPULAIRE */
    .populaire {  
        margin-top: 50px;
        margin-left: 0px;
    }
    .flex-space-between-populaire {
        display: flex;
        justify-content: space-between;
    }
    .card-populaire {
        margin-bottom: 50px;
        width: 31%;
    }
    .chambres-dhotes-star {
        margin-top: 22px;
    }
    
    .hotel-bleu-blanc-star {
        margin-top: 58px;
    }
    /* ACTIVITE */

    img.img-activity {
        height: 211px;
    }
    div.activity-content {
        height: 267px;
    }
    h1.activité-marseille {
        margin-bottom: 34px;
    }
} 
    /* MOBILE */

    @media screen and (max-width: 768px) {

        /* HEADER */

    nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    body {
        margin: 0px 0px ;
    }
    ul {
        padding-left: 0px;
    }
    li {
        width: 50%;
        padding-bottom: 23px;
        border-bottom: 3px solid #F2F2F2;
    }

    nav ul li:hover {  
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    #logo {
        margin-top: 21px;
        margin-left: auto;
        margin-right: auto;
    }

    /* SEARCH BAR SECTION */

    .h1_search_bar {
        margin-top: 30px;
    }
    .search_bar_block {
        margin-left: 20px;
        margin-right: 20px;
    }
    .search_bar_mobile {
        display: flex;
    }
    .search_bar {
        display: none;
    }
    #search_input {

    }
    #location_icon {
        width: 110px
    }
    #border-bar {
        width: 232px;
    }
    
    /* FILTERS */

    section.filters {
        margin-left: 20px;
        margin-right: 20px;
    }
    div.filtres {
        width: 100%
    }
    .filters {
        flex-wrap: wrap;
        width: auto;
    }
    section.filters div {
        justify-content: flex-start;
    }
    section.filters div p {
        font-size: 11px;
    }
    div.dog {
        min-width: 0px;
    }
    .border-filters {
        width: 41%;
        margin-bottom: 17px;
    }
    
       /* INFO */

       .info {
        align-items: stretch;
       }
       div.info p {
        margin-top: 0px;
       }
       div.info {
        margin-left: 20px;
        margin-right: 20px;
       }
    /* MAIN BLOCK */

    .main-block {
        flex-direction: column-reverse;
        margin-top: 15px;
    }

    /* POPULAIRE */

    .populaire {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0%;
    }
    .flex-space-between-populaire {
        flex-direction: column;
    }
    .card-populaire {
        width: 100%;
    }
    article.card-populaire {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    aside.populaire {
        margin-top: 0px;
        padding-bottom: 40px;
        padding-top: 20px;
    }
    /* HEBERGEMENT */

    .hébergement {
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        padding-top: 20px;
    }
    article.card {
        width: 100%;
        margin-top: 12px;
    }
    p#afficher-plus {
        display: none;
    }
    /* ACTIVITE */

    h1.activité-marseille {
        margin-bottom: 0px;
        max-width: 120px;
    }
    #Activités {
        margin-left: 20px;
        margin-right: 20px;
        height: 900px;
    }
    div.activity-content {
        flex-direction: column;
        height: 800px
    }
    div.card-activity {
        width: 100%;
    }
    img.img-activity {
        height: 134px;
    }
    /* FOOTER */
    footer {
        flex-direction: column;
        height: auto;
        padding-bottom: 60px;
    }
    div.column-footer {
        margin-left: 30px;
    }
 }
