/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
/* BODY */

body {
    margin-left: 50px; 
    margin-right: 50px;
}
/* GENERAL */

h1 {
    font-weight: 700;
}

/* HEADER */

#logo {
width: 61.09px;
height: 19px;
margin-top: 44px;
}
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
}
nav li {
    margin-top: 0px;
    padding-top: 46px;
    padding-left: 33px;
    padding-right: 33px;

}
nav ul li:hover {  
    border-top: 2px solid #0065FC;
    font-weight: 500; 
    
}
nav ul li a {
    text-decoration: none;
    color: black;

}
nav ul li a:hover {
    color: #0065FC;
}

/*  SEARCH BAR SECTION */

.h1_search_bar {
    margin-top: 63px;
    margin-bottom: 8px;
}
.p_search_bar {
    margin-top: 0;
    
}
.search_bar {
    display: flex;
}
#location_icon {
    height: 49px;
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
}
#search_input {
    height: 49px;
    width: 250px;
    border: none;
    display: flex;
    margin-left: 16px;
    font-size: 18px;
    outline-width: 0;
    opacity: 1;
    
}
#button {
    background-color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
::placeholder {
    color: black;
    font-weight: 700;
}
#border-bar {
    border: 1px solid #F2F2F2;
}
/* FILTERS */

.filters {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    height: 50px;
    width: 60%;
    
}
.filters-icon{
    color: #0065FC;
    padding-right: 10px;
}
section.filters div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
}
#h2-filters {
    font-size: 18px;
}
section.filters div p {
    font-size: 17px;
    
}
.border-filters {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.border-filters:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}
/* INFO */
.fa-info {
    height: 10px;
    width: 4px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 7px 10px;

}
.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
div.info p {
    margin-left: 11px;
}
/* MAIN Hébergement */
.main-block {
    display: flex;
    justify-content: space-around;
    margin-top: 39px;

}
main h2 {
    font-size: 22px;
    width: 100%;
    height: 10px;
    margin-top: 0px;
}
img.img-hébergement {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}
article.card {
    background-color: white;
    border-radius: 20px;
    height: 199px;
    width: 29%;
    padding: 1%;
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.nom-hébergement {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 16px;
}
.prix-nuit {
    font-size: 14px;
    margin-top: 9px;
    margin-left: 16px;
    margin-bottom: 9px;
}
.hébergement {
 background-color: #F2F2F2;
 border-radius: 20px;
 flex: 2;
 padding-left: 40px;
 padding-right: 40px;
 padding-top: 40px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
#afficher-plus {
    font-weight: 700;
    font-size: 18px;
    height: 21px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.star-grey {
    color: #F2F2F2;
}
.star-blue {
    color: #0065FC;
}
.star-size {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 9px;
}

/* Populaire */

.populaire {
    flex: 1;
    height: 626px;
    background-color: #F2F2F2;
    margin-left: 20px;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}
.fa-chart-line {
    color: #0065FC;
    font-size: 18px;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
article.card-populaire {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-top: 33px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
img.img-populaire {
    object-fit: cover;
    height: 144px;
    padding: 1%;
    border-radius: 20px 0px 0px 20px;
    width: 30%;
}
div.div-populaire {
    margin-top: 16px;
}
.star-populaire {
    margin-top: 44px;
}
/* Activité à Marseille */

h1.activité-marseille {
    margin-top: 60px;
}
div.activity-content {
    height: 445px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img.img-activity {
    object-fit: cover;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
div.card-activity {
    width: 21%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 20px;
}
.nom-activity {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 19px;
}
/* FOOTER */
footer {
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 60px;
    display: flex;
}
.column-footer {
    margin-left: 70px;
    padding-top: 45px;
    margin-right: 150px;

}
h4 {
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 20px;
}
footer p {
    margin-top: 0px;
    margin-bottom: 12px;
}